<!-- change icon -->
<p style="text-align: right"><button class="btn" data-toggle="modal" data-target="#changeEmailModal<%= data.id %>"><i class="fas fa-edit"></i></button></p>

<!-- change email Modal -->
<div class="modal fade" id="changeEmailModal<%= data.id %>" tabindex="-1" role="dialog" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeEmailModalLabel">E-Mail Adresse ändern</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>aktuelle E-Mail Adresse: <%= data.email %></p>
                <input type="text" class="form-control" id="inputNewEmail" aria-describedby="basic-addon2" placeholder="neue E-Mail Adresse">
                <p>Passwort:</p>
                <input type="password" class="form-control" id="inputEmailPassword" aria-describedby="basic-addon2" placeholder="aktuelles Passwort eingeben">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary" onclick="changeEmail(<%= data.id %>);">Speichern</button>
            </div>
        </div>
    </div>
</div>