<script src="/js/modal/modalHandler.js"></script>

<!-- Button trigger modal -->
<a class="nav-link btn-sm nav-btn ezlife-link" data-toggle="modal" data-target="#loginModal" href="">Login</a>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="loginInputEmail">E-Mail Adresse eingeben:</label>
                        <input type="email" class="form-control" id="loginInputEmail" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="loginInputPassword">Passwort eingeben:</label>
                        <input type="password" class="form-control" id="loginInputPassword" placeholder="Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-primary" onclick="login()">Login</button>
            </div>
        </div>
    </div>
</div>