<!-- spacing between content and footer -->
<br>
<!-- start footer -->
<div id="footer">
    <!-- Copyright -->
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4 text-left">
                       Created by <a href="https://ezlife.eu/about">Philipp Minges</a>
                    </div>
                    <div class="col-4 text-center">
                        <b>build v0.1.2</b>
                    </div>
                    <div class="col-4 text-right">
                        Designed by <a href="https://ezlife.eu/about">ezlife.eu</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
