<!-- spacing between content and footer -->
<br>
<!-- start footer -->
<div id="footer">
    <!-- Copyright -->
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 text-left">
                        <br>
                        <p>Created by <a href="https://ezlife.eu/about">Philipp Minges</a></p>
                    </div>
                    <div class="col-4 text-right">
                        <br>
                        <p>Designed by <a href="https://ezlife.eu/about">ezlife.eu</a></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- end body -->
</body>
<!-- end html -->

</html>