<!-- HTML Header -->
<head>
    <!-- general settings -->
    <title>ezChef</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Set Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- Import Font -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:600' rel='stylesheet' type='text/css'>

    <!-- import main stylesheet -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- import jQuery and bootstrap -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/30fdcc2dcb.js" crossorigin="anonymous"></script>

    <!-- import typahead search -->
    <script src="/node_modules/typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="/node_modules/typeahead.js/dist/bloodhound.js"></script>
    <script src="/js/search/typeahead.js"></script>

    <!-- bootstrap-select -->
    <script src="/node_modules/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <link type="text/css" rel="stylesheet" href="/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" />

    <!-- import jsgrid -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <!-- RTF Editor -->
    <link href="/node_modules/summernote/dist/summernote.css" rel="stylesheet">
    <script src="/node_modules/summernote/dist/summernote.js"></script>

    <!-- Google ReCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Lcu2MoUAAAAALOAo2r-qPFR8La5FQboPaJXCicb"></script>
</head>

<!-- start body -->
<body>

<!-- include top navigation -->
<%- include ('navigation.ejs') %>

<br>