<!-- HTML Header -->
<head>
    <!-- general settings -->
    <title>ezCooking</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico">

    <!-- mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import jQuery and bootstrap -->
    <!-- use modded bootstrap.css
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    -->
    <link rel="stylesheet" href="/public/bootstrap.min.yeti.css" type="text/css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/30fdcc2dcb.js" crossorigin="anonymous"></script>

    <!-- import jsgrid -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <!-- RTF Editor -->
    <link href="/node_modules/summernote/dist/summernote.css" rel="stylesheet">
    <script src="/node_modules/summernote/dist/summernote.js"></script>

    <!-- frontend js -->
    <script src="/public/js/sessionMgmt.js"></script>
    <script src="/public/js/alertHandler.js"></script>

    <!-- import main stylesheet -->
    <link href="/public/style.css" rel="stylesheet" type="text/css">

    <!-- Google AdSense
    <script data-ad-client="ca-pub-4826635938982516" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    -->

    <!-- Google ReCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Lcu2MoUAAAAALOAo2r-qPFR8La5FQboPaJXCicb"></script>
</head>

<!-- start body -->
<body>

<!-- include top navigation -->
<% include navigation.ejs %>

<!-- include alerts -->
<% include alerts.ejs %>

<!-- include Registration Modal -->
<% include ../modals/register-modal.ejs %>