<!DOCTYPE html>
<html>
<head>
    <!-- general settings -->
    <title>ezCooking</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="public/img/favicon.ico">

    <!-- mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import jQuery and bootstrap -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- frontend js -->
    <script src="../public/js/sessionMgmt.js"></script>

    <!-- import main stylesheet -->
    <link href="../public/style.css" rel="stylesheet" type="text/css">
</head>

<!-- start body -->
<body>

<!-- include top navigation -->
<% include navigation.ejs %>