<!-- show login/register menu item if not logged in -->
<div class="list-group">
    <% if(!session) { %>
    <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#loginModal">Login<span
            class="badge badge-primary float-right">
            guest</span></button>
    <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#registerModal">Register</button>
</div>
<br>
<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action">Home</a>
    <a href="/browse" class="list-group-item list-group-item-action">Durchsuchen</a>
    <% } else { %>
    <li class="list-group-item list-group">Eingeloggt als: <span class="badge badge-primary float-right">
            <%=session.username %></span></li>
    <a href="/dish" class="btn btn-success">Gericht hinzufügen</a>
    <a href="/profile" class="list-group-item list-group-item-action">Mein Profil</a>
    <a href="/favorites" class="list-group-item list-group-item-action">Favoriten</a>
    <a href="/settings" class="list-group-item list-group-item-action">Einstellungen</a>
    <button class="btn btn-danger" type="button" id="logoutBtn" onclick="logout()">Logout</button>
</div>
<br>
<div class="
        list-group">
        <li class="list-group-item list-group-item-dark">Menü</li>
        <a href="/" class="list-group-item list-group-item-action">Home</a>
        <a href="/browse" class="list-group-item list-group-item-action">Durchsuchen</a>
        <% } %>
</div>
<br>

<% if(session) { %>
<!-- mockup my dishes -->
<div class="list-group">
    <li class="list-group-item list-group-item-dark">Meine Favoriten</li>
    <button type="button" class="list-group-item list-group-item-action">Gericht 1</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 2</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 3</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 4</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 5</button>
</div>
<br>
<% } %>

<div class="list-group">
    <img src="../public/img/default.jpg" alt="..." class="img-thumbnail">
</div>
<br>
<div class="list-group">
    <img src="../public/img/default.jpg" alt="..." class="img-thumbnail">
</div>
<br>