<!-- show login/register menu item if not logged in -->
<div class="list-group">
    <% if(!session) { %>
    <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#loginModal">Login<span
            class="badge badge-primary float-right">
            guest</span></button>
    <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#registerModal">Register</button>
</div>
<br>
<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action">Durchsuchen</button>
    <% } else { %>
    <li class="list-group-item list-group">Eingeloggt als: <span class="badge badge-primary float-right">
            <%=session.username %></span></li>
    <button class="btn btn-success" type="button" id="logoutBtn" href="/browse"">Gericht hinzufügen</button>
</div>
<br>
<div class="
        list-group">
        <li class="list-group-item list-group-item-dark">menü</li>
        <a href="/" class="list-group-item list-group-item-action">Home</a>
        <a href="/browse" class="list-group-item list-group-item-action">Durchsuchen</a>
        <a href="/profile" class="list-group-item list-group-item-action">Profil</a>
        <a href="/settings" class="list-group-item list-group-item-action">Einstellungen</a>
        <button class="btn btn-danger" type="button" id="logoutBtn" onclick="logout()">Logout</button>
        <% } %>
</div>
<br>

<% if(session) { %>
<!-- mockup my dishes -->
<div class="list-group">
    <li class="list-group-item list-group-item-dark">meine Favoriten</li>
    <button type="button" class="list-group-item list-group-item-action">Gericht 1</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 2</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 3</button>
</div>
<br>
<% } %>

<!-- mockup neu -->
<div class="list-group">
    <li class="list-group-item list-group-item-dark">neu</li>
    <button type="button" class="list-group-item list-group-item-action">Gericht 1</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 2</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 3</button>
</div>
<br>
<!-- mockup angesagt -->
<div class="list-group">
    <li class="list-group-item list-group-item-dark">angesagt</li>
    <button type="button" class="list-group-item list-group-item-action">Gericht 1</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 2</button>
    <button type="button" class="list-group-item list-group-item-action">Gericht 3</button>
</div>
<br>

<div class="list-group">
    <img src="../public/img/default.jpg" alt="..." class="img-thumbnail">
</div>
<br>
<div class="list-group">
    <img src="../public/img/default.jpg" alt="..." class="img-thumbnail">
</div>
<br>