<!-- show login/register menu item if not logged in -->
<% if(!session) { %>
    <div class="list-group">
        <li class="list-group-item">Hauptmen端</li>
        <a href="/" class="list-group-item list-group-item-action">Neue Gerichte</a>
        <a href="/browse" class="list-group-item list-group-item-action">Durchsuchen</a>
    </div>
    <br>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal"
                data-target="#loginModal">Login<span
                    class="badge badge-primary float-right">
            guest</span></button>
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal"
                data-target="#registerModal">Register
        </button>
    </div>
    <br>
<% } %>
<% if(session) { %>
    <div class="list-group">
        <li class="list-group-item list-group">Eingeloggt als: <span class="badge badge-primary float-right">
            <%= session.username %></span></li>
        <a href="/dish" class="list-group-item list-group-item-action"
           style="background-color: #218838; border-color: #1e7e34; color: whitesmoke"><i class="fas fa-plus"></i> Gericht hinzuf端gen</a>
    </div>
    <br>
    <div class="list-group">
        <li class="list-group-item"><i class="fas fa-tools"></i> Hauptmen端</li>
        <a href="/" class="list-group-item list-group-item-action"><i class="fab fa-hotjar"></i> Neue Rezepte</a>
        <a href="/browse" class="list-group-item list-group-item-action"><i class="fas fa-search"></i> Durchsuchen</a>
    </div>
    <br>
    <div class="list-group">
        <li class="list-group-item"><i class="fas fa-user"></i> Benutzermen端</li>
        <!--
        <a href="/favorites" class="list-group-item list-group-item-action">Favoriten</a>
        -->
        <a href="/mydishes" class="list-group-item list-group-item-action"><i class="fas fa-folder-open"></i> Meine Rezepte</a>
        <a href="/settings" class="list-group-item list-group-item-action"><i class="fas fa-cogs"></i> Einstellungen</a>
        <a href="#" class="list-group-item list-group-item-action"
           style="background-color: #c82333; border-color: #bd2130; color: whitesmoke" onclick="logout()"><i class="fas fa-power-off"></i> Logout</a>
    </div>
    <br>
<% } %>

<div class="list-group">
    <a href="http://ezlife.eu"><img src="/public/img/ezlife.jpg" class="img-thumbnail"></a>
</div>