<!-- top navigation -->
<nav class="navbar-dark navbar navbar-expand-lg py-0">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="/"><img src="/img/ezcooking_logo.svg" width="30" height="30" class="d-inline-block align-top"></a>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto py-0">
            <% for(let i=0; i<runtime.menu.length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link btn-sm nav-btn ezlife-link" href="<%= runtime.menu[i].url %>"><%= runtime.menu[i].name %></a>
                </li>
            <% } %>
        </ul>
        <% if(session) { %>
            <a class="nav-link btn-sm nav-btn ezlife-link" href="/dish" style="background-color: #218838; border-color: #1e7e34; color: whitesmoke"><i class="fas fa-plus"></i> Rezept hinzufügen</a>
            <a class="nav-link btn-sm nav-btn ezlife-link" href="/mydishes" ><i class="fas fa-folder-open"></i> Meine Rezepte</a>
            <a class="nav-link btn-sm nav-btn ezlife-link" href="/settings"><i class="fas fa-cogs"></i> Einstellungen</a>
            <% if(session.privileges == 'A') { %>
                <a class="nav-link btn-sm nav-btn ezlife-link" href="/admin"><i class="fas fa-unlock-alt"></i> Admin Menü</a>
            <% } %>
            <a class="nav-link btn-sm nav-btn ezlife-link" disabled><i class="fas fa-power-off"></i> <%= session.preferred_username %></a>
        <% } else { %>
            <a class="nav-link btn-sm nav-btn ezlife-link" href="/settings"><i class="fas fa-cogs"></i> Login</a>
        <% } %>
    </div>

    <!-- Toggle Button -->
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
</nav>