<div class="row">
    <div class="col-7">

    </div>
    <div class="col-5">
        <button type="button" class="btn btn-primary float-right">Grid View</button>
        <!-- use css to create spacing between buttons -->
        <div id="spacing-nav"></div>
        <button type="button" class="btn btn-primary float-right">List View</button>
    </div>
</div>
<br>
