<!-- include static header -->
<%- include ('partials/header.ejs') -%>

<!-- Include additional scripts -->
<script src="../public/js/ajax/unitHandler.js"></script>
<script src="../public/js/dish/addDish.js"></script>
<script src="../public/js/dish/manageCategories.js"></script>
<script src="../public/js/dish/manageImageUpload.js"></script>
<script src="../public/js/grid/jsGrid.js"></script>
<script src="../public/js/dish/editor.js"></script>

<!-- dynamic main content -->
<div class="container">
    <!-- move the content one row down -->
    <br>
    <!-- everything in this div in one row -->
    <div class="row">
        <!-- left menu -->
        <div class="col-sm-12 col-md-3">
            <!-- include left menu -->
            <%- include ('partials/left-menu.ejs') -%>
        </div>

        <!-- main content -->
        <div class="col-sm-12 col-md-9">
            <div class="card card-header">
                Gericht hinzufügen
            </div>
            <br>
            <div class="card">
                <div class="col">
                    <br>
                    <h2>Allgemein</h2>
                    <div class="row">
                        <div class="col-9">
                            <label for="dishInputName">Name</label>
                            <input type="text" class="form-control" id="dishInputName" aria-describedby="dishNameHelp"
                                   placeholder="Enter name">
                            <br>
                            <label for="dishInputShortDescription">Kurzbeschreibung</label>
                            <input type="text" class="form-control" id="dishInputShortDescription"
                                   aria-describedby="dishShortDescriptionHelp"
                                   placeholder="Enter short description">
                        </div>
                        <div class="col-3">
                            <label for="dishInputDuration">Zubereitungsdauer</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="dishInputDuration"
                                       placeholder="Dauer" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">min</span>
                                </div>
                            </div>
                            <br>
                            <div class="float-right">
                                <label for="dishUploadImage">Upload Image</label>
                                <br>
                                <input type="file" class="form-control-file" id="dishUploadImage" onchange="loadImage(this)">
                                <img id="uploadImage" src="/public/uploads/no_image" alt="uploaded Image" />
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-6">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownCategory"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Kategorie
                                </button>
                                <div class="dropdown-menu" id="dropdown-menu-category">
                                    <script>loadMainCategories();</script>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownSubCategory"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                    Sub-Kategorie
                                </button>
                                <div class="dropdown-menu" id="dropdown-menu-subcategory"></div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="dropdown-divider"></div>

                    <h2>Zutaten</h2>
                    <div class="row">
                        <div class="col-12">
                            <!-- Define jsGrid reference -->
                            <div id="jsGrid"></div>
                            <!-- Create Ingredients Table from jsGrid -->
                            <script>createIngredientsTable();</script>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <h2>Zubereitung</h2>
                    <label for="dishInputDescription">Beschreibung</label>
                    <div class="row">
                        <div class="col-12">
                            <div id="dishInputDescription"></div>
                        </div>
                        <script>loadEditor();</script>
                    </div>
                    <br>
                    <div class="dropdown-divider"></div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary float-right" id="buttonSendRecipe"
                                    disabled onclick="sendRecipe();">Speichern
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>

</div>
<!-- include static footer -->
<%- include ('partials/footer.ejs') -%>
<!-- spacing at content end -->
<br>