<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- main content -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-header">
                Favoriten
            </div>
            <br>
            <!-- include main content -->
            <div class="card">
                <div class="col">
                    <br>
                    <h2>Benutzer</h2>
                    <h2>Gerichte</h2>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>