<!-- include static header -->
<% include partials/header.ejs %>

<!-- dynamic main content -->
<div class="container">
    <!-- move the content one row down -->
    <br>
    <!-- everything in this div in one row -->
    <div class="row">
        <!-- left menu -->
        <div class="col-3">
            <!-- include left menu -->
            <% include partials/left-menu.ejs %>
        </div>

        <!-- main content -->
        <div class="col-9">

            <!-- new dishes -->
            <div class="card">
                <div class="card-header">
                    neue Gerichte
                </div>

                <!-- first row items -->
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <!-- dishes for specific time of the day -->
            <div class="card">
                <div class="card-header">
                    nach Tageszeit
                </div>

                <!-- first row items -->
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <!-- dishes by genre -->
            <div class="card">
                <div class="card-header">
                    nach Genre
                </div>

                <!-- second row items -->
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="max-width: 18rem;">
                            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's
                                    content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- spacing between content and footer -->
<br>
<!-- include static footer -->
<% include partials/footer.ejs %>
<!-- spacing at content end -->
<br>