<!-- include static header -->
<%- include ('../partials/header.ejs') %>

<!-- main content -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="col">
                    <h1>Error</h1>
                    <p>Dieser Bereich ist nur mit gültigem Benutzer zugänglich.</p>
                    <p>Bitte loggen Sie sich zuerst ein</p>
                    <a class="btn-sm btn-secondary" href="/settings"><i class="fas fa-cogs"></i> Login</a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<!-- include footer -->
<%- include ('../partials/bottom.ejs') %>
<%- include ('../partials/footer.ejs') %>