<!-- include static header -->
<%- include ('../partials/header.ejs') %>

<!-- main content -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="col">
                    <br>
                    <h1>Error</h1>
                    <br>
                    <p>Dieser Bereich ist nur mit gültigem Benutzer zugänglich.</p>
                    <p>Bitte loggen Sie sich zuerst ein</p>
                    <%- include ('../modals/login-modal.ejs') %>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- include footer -->
<%- include ('../partials/bottom.ejs') %>
<%- include ('../partials/footer.ejs') %>