<!-- include static header -->
<%- include ('../partials/header.ejs') %>

<!-- dynamic main content -->
<div class="container">
    <br>
    <div class="row">
        <!-- main content -->
        <div class="col-sm-12">
            <div class="card">
                <div class="col">
                    <br>
                    <h1>Error</h1>
                    <br>
                    <p>Die angeforderte Seite konnte nicht gefunden werden</p>
                    <br>
                    <p>Zurück zur <a href="/">Übersicht</a></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- include footer -->
<%- include ('../partials/bottom.ejs') %>
<%- include ('../partials/footer.ejs') %>