body, nav-link, button {
    background-color: #f8f9fa;
}

.list-group-item {
    background-color: rgba(0,0,0,.03);
}

.list-group-item-action {
    background-color: #ffffff;
}

.navbar-nav a {
    font-variant-caps: small-caps;
}

#spacing-nav {
    padding-right: 5px;
    padding-left: 5px;
}

#uploadImage {
    max-width: 150px;
    max-height: 150px;
}


/* Index Page */
/* Cards */
/* 350px and down */
@media only screen and (max-width: 350px) {
    #indexCardBody {
        height: 100px;
        overflow: hidden;
    }
    #indexCardImgTop {
        height: 120px;
    }
}

/* 350px and up */
@media only screen and (min-width: 350px) {
    #indexCardBody {
        height: 100px;
        overflow: hidden;
    }
    #indexCardImgTop {
        height: 160px;
    }
}

@media only screen and (max-width: 768px) {
    #left-menu-banner {
        display: none;
    }
}