<!-- heading - dishes for specific time of the day -->
<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">nach Tageszeit</li>
            </ol>
        </nav>
    </div>
</div>

<!-- first row items -->
<div class="row">
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>
<br>
<!-- heading - dishes by genre -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">nach Genre</li>
    </ol>
</nav>
<!-- second row items -->
<div class="row">
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>
<br>
<!-- heading - snacks -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Snacks</li>
    </ol>
</nav>
<!-- third row items -->
<div class="row">
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="max-width: 18rem;">
            <img src="/public/img/favicon.ico" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>